{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'mainapp/css/default.css' %}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link type="text/css" href="{% static 'mainapp/css/common.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/my-elements.css' %}" rel="stylesheet" />
    {% block css %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'mainapp/other/favicon.jpg' %}" type="image/x-icon"/>
</head>
<style>
    body {
        background-image: url({% static 'mainapp/other/bg.jpg' %}) ;
        background-size: cover;
        background-position: center;
    }
</style>
<body>

{% if header %}
<div id="header">
        <button id="show-sidebar">
            <img src="{% static 'mainapp/svg/menu.svg' %}">
        </button>
        <div id="header-title">
            {% for l in bread_crumbs %}
            <a href="{{ l.link }}">{{ l.title }}</a>
            <img src="{% static 'mainapp/svg/right.svg' %}">
            {% endfor %}
            <p>{{ title_view }}</p>
        </div>
        <div>
            {% block head %}
            {% endblock %}
        </div>
    </div>
{% endif %}


{% block body %}
{% endblock %}


{% if sidebar %}
    <div id="sidebar">
        <div>
            <div class="logo">
                <img src="{% static 'mainapp/other/favicon.jpg' %}">
                <h1>БУДЬТЕ ЗДОРОВЫ</h1>
            </div>
            <div class="sidebar-account">
                <p><strong>{{ user.fio }}</strong></p>
                <p>{{ user.job }}</p>
                <a href="{% url 'logout' %}">Выйти из системы</a>
            </div>
        </div>
        <ul>
            {% for punkt in side_menu %}
                {% if punkt.name == punkt_selected %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                    <a href="{{ punkt.url }}">{{punkt.title}}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="sidebar-footer">
            <p>Автор проекта</p>
            <p>Учащийся группы ЗЦИС-37</p>
            <p>Филиппов И.А.</p>
        </div>
    </div>

    <div id="page-overlay"></div>
{% endif %}

    <div id="servMesBlock">{{ error }}</div>
    <script src="{% static 'mainapp/js/common.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>