{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
    <link type="text/css" href="{% static 'mainapp/css/modal.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/table.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/select.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/view_difficult.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/view.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/edit.css' %}" rel="stylesheet" />
{% endblock %}



{% block head %}
<button id="save-record">
    <img src="{% static 'mainapp/svg/save.svg' %}">
</button>
{% endblock %}



{% block body %}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="files-side-records" id="files-side-records">
        <div id="body-container">
            
            <div id="right-block">
                <div id="right-block-head">
                    Редактирование записи
                </div>
                {% for input in input_fields %}
                    <div class="edit-input-block">
                        <div>{{ input.title }}</div>
                        <div>
                            {% if input.type == 'image' %}
                            <label>
                                <input image type="file" name="{{ input.name }}">
                                <img src="{{ input.url }}">
                            </label>
                            {% endif %}

                            {% if input.type == 'string' %}
                            <input type="text" name="{{ input.name }}" value="{{ input.value }}">
                            {% endif %}

                            {% if input.type == 'text' %}
                            <textarea name="{{ input.name }}">
                                {{ input.value }}
                            </textarea>
                            {% endif %}

                            {% if input.type == 'number' %}
                            <input type="number" name="{{ input.name }}" value="{{ input.value }}">
                            {% endif %}

                            {% if input.type == 'date' %}
                            <input type="date" name="{{ input.name }}" value="{{ input.value }}">
                            {% endif %}

                            {% if input.type == 'file' %}
                            <label>
                                <p>{{ input.text_value }}</p>
                                <input type="file" name="{{ input.name }}">
                            </label>
                            {% endif %}

                            {% if input.type == 'link' %}
                            <button select select-name="medicine">
                                <input type="number" name="{{ input.name }}">
                                <p>{{ input.text_value }}</p>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                <button id="save-record-button" type="submit"></button>
            </div>

            <div id="resize-block"></div>

            <div id="left-block">
                {% for table in side_tables %}
                <div class="table-wrap">
                    <div class="table-title">
                        <h2>{{ table.title }}</h2>
                        <img src="{% static 'mainapp/svg/add.svg' %}">
                    </div>
                    <table class="myTable">
                        <thead>
                            <tr>
                                {% for f in table.head %}
                                <th class="resizable">{{ f }}<div class="resizable-handle"></div></th>
                                {% endfor %}
                                <th></th>
                            </tr>
                        </thead>
                        <tbody name="{{ table.name }}" fields="{{ table.structure_fields }}">
                            {% for record in table.records %}
                            <tr>
                                {% for f in record %}
                                <td>
                                    {% if f.type == 'text' %}
                                        <input type="text" name="{{ table.name }}-{{ record.id }}-{{ f.id }}">
                                    {% endif %}

                                    {% if f.type == 'number' %}
                                        <input type="number" name="{{ table.name }}-{{ record.id }}-{{ f.id }}">
                                    {% endif %}

                                    {% if f.type == 'file' %}
                                        <label>
                                            <p>{{ f.text }}</p>
                                            <input load="{{ record.pk }}" type="file" name="{{ table.name }}-{{ record.id }}-{{ f.id }}">
                                        </label>
                                    {% endif %}

                                    {% if f.type == 'link' %}
                                        <button select select-name="{{ f.select }}">
                                            <input type="number" name="{{ table.name }}-{{ record.id }}-{{ f.id }}">
                                            <p>{{ f.text }}</p>
                                        </button>
                                    {% endif %}
                                </td>
                                {% endfor %}
                                <td>
                                    <img src="{% static 'mainapp/svg/delete.svg' %}" class="table-edit-delete">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>

        </div> 
    </form>
    

    <!-- БЛОК ВЫБОРОК -->

    {% for select in list_selects %}
    <div class="table-wrap" select select-name="{{ select.name }}">
        <div class="table-title">
            <h2>{{ select.title }}</h2>
            <input class="select-search">
        </div>
        <table class="myTable">
            <tbody>
                {% for r in select.records %}
                <tr record="{{ r.pk }}">
                    <td class="select-record">{{ r.text }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}

    <!-- КОНЕЦ БЛОКА ВЫБОРОК -->
{% endblock %}


{% block scripts %}
    <script src="{% static 'mainapp/js/view-resize.js' %}"></script>
    <script src="{% static 'mainapp/js/sidebar.js' %}"></script>
    <script src="{% static 'mainapp/js/overlay.js' %}"></script>
    <script src="{% static 'mainapp/js/table-resize.js' %}"></script>
    <script src="{% static 'mainapp/js/save_record.js' %}"></script>
    <script src="{% static 'mainapp/js/select.js' %}"></script>
    <script src="{% static 'mainapp/js/table-edit.js' %}"></script>
{% endblock %}