<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'mainapp/css/default.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/common.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/error.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'mainapp/other/favicon.jpg' %}" type="image/x-icon"/>
    <title>Что-то пошло не так (((</title>
</head>
<body>
    <div id="block">
        <img src="{% static 'mainapp/svg/smile.svg' %}" alt="">
        <div id="message">Страница не найдена или доступ к ресурсу ограничен</div>
        <a href="{% url 'index' %}">Вернуться на главную страницу приложения</a>
    </div>
</body>
</html>