{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
<link type="text/css" href="{% static 'mainapp/css/index.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div id="body-container">
    <div id="top-block">
        <div>
            <img src="{% static 'mainapp/other/favicon.jpg' %}" alt="">
            <h1>БУДЬТЕ ЗДОРОВЫ</h1>
        </div>
        <p><strong>{{ user_fio }}</strong></p>
        <p class="header-job">{{ user_job }}</p>
        <a href="{% url 'logout' %}">Выйти из системы</a>
    </div>

    <div id="middle-block">
        <div id="menu-title">
            {% for p in side_menu %}
            <h2>{{ p.title }}</h2>
            {% endfor %}
        </div>
        <div id="menu-scroll">
            <div id="menu-block">
                <div class="row">
                    {% for p in side_menu %}
                    <div class="col-sm">
                        <a class="my-button" href="{{ p.url }}">
                            <img src="{% static p.static_path %}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="bottom-block">
        <p>Автор проекта</p>
        <p>Учащийся группы ЗЦИС-37</p>
        <p>Филиппов И.А.</p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'mainapp/js/index.js' %}"></script>
{% endblock %}