{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
    <link type="text/css" href="{% static 'mainapp/css/list.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/modal.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/table.css' %}" rel="stylesheet" />
{% endblock %}


{% block head %}
<button id="delete-elements">
    <img src="{% static 'mainapp/svg/basket.svg' %}">
</button>
<a href="{% url add_record %}" id="add-b">
    <img src="{% static 'mainapp/svg/add.svg' %}">
</a>
<button id="sorting-b" onclick="show_sort()">
    <img src="{% static 'mainapp/svg/sort.svg' %}">
</button>
<button id="filter-b">
    <img src="{% static 'mainapp/svg/filter.svg' %}">
</button>
{% endblock %}


{% block body %}
    <div id="my-container">
        <div id="work-pane">
            <div class="table-wrap">
                <table class="myTable" linked link="{{ link_table }}">
                    <thead>
                        <tr>
                            <th class="delete-col my-button">
                                <input type="checkbox" class="delete-record form-check-input">
                            </th>
                            {% for d in desc_table %}
                            <th class="resizable">{{ d }}<div class="resizable-handle"></div></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in elem_table %}
                        <tr rec_id="{{ e.id }}">
                            <td class="delete-col my-button">
                                <input type="checkbox" class="delete-record form-check-input" value="{{ e.id }}">
                            </td>
                            {% for f in e.fields %}
                            <td>{{ f }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div id="filter-pane">
            <form method="post" id="filter-table" name="filters">
                {% csrf_token %}
                {% for group in filters %}
                <div class="filter-group">
                    <div class="filter-row">
                        {% for field in group %}
                        <div class="filter-label">{{ field.title }}</div>
                        {% endfor %}
                    </div>
                    <div class="filter-row">
                        {% for field in group %}
                        <input type="{{ field.type }}" name="{{ field.name }}">
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}

                <input type="text" style="display:none;" name="parameter_sorting" id="parameter_sorting">

                <div class="filter-group">
                    <div class="filter-row">
                        <button class="my-button" type="submit" id="submit-filter">Применить</button>
                        <button class="my-button" id="drop-filters">Сбросить</button>
                    </div> 
                </div>
            </form>
        </div>
    </div>

    <div id="sorting">
        <div>
            <div class="sort-container">
                <div class="head-sort">
                    <div class="sort-cube">Вкл.</div>
                    <div class="sort-cube">
                        <img src="{% static 'mainapp/svg/2arrow.svg' %}">
                    </div>
                    <div class="group-name">Название поля</div>
                    <div>Приоритет</div>
                </div>
                <div id="groups">

                    {% for s in sorting_table %}
                    <div class="group" name="{{ s.name }}">
                        <input type="checkbox" class="sort-check form-check-input sort-cube">
                        <div class="arrow-check sort-cube">
                            <label>
                                <input type="checkbox" class="sort-dir">
                                <img src="{% static 'mainapp/svg/arrow.svg' %}">
                            </label>
                        </div>
                        <div class="group-name">
                            <p>{{ s.title }}</p>
                        </div>
                        <button class="up sort-cube">
                            <img src="{% static 'mainapp/svg/top-arrow.svg' %}">
                        </button>
                        <button class="down sort-cube">
                            <img src="{% static 'mainapp/svg/bottom-arrow.svg' %}">
                        </button>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <button id="submit-sorting" class="my-button">Применить</button>
        </div>
    </div>

    <div id="modal-delete">
        <div>
            <p>Подтвердите удаление</p>
        </div> 
        <form method="post" name="table_delete">
            {% csrf_token %}
            <p id="delete-message"></p>
            <input type="text" id="delete-list" name="delete-list">
            <div>
                <button class="my-button" type="submit">Да</button>
                <button class="my-button-red" id="cancel-delete">Нет</button>
            </div>
        </form>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'mainapp/js/sidebar.js' %}"></script>
    <script src="{% static 'mainapp/js/overlay.js' %}"></script>
    <script src="{% static 'mainapp/js/filter.js' %}"></script>
    <script src="{% static 'mainapp/js/sorting.js' %}"></script>
    <script src="{% static 'mainapp/js/table-resize.js' %}"></script>
    <script src="{% static 'mainapp/js/table-delete-records.js' %}"></script>
    <script src="{% static 'mainapp/js/table-link.js' %}"></script>
{% endblock %}