{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
    <link type="text/css" href="{% static 'mainapp/css/list.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/modal.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/table.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/select.css' %}" rel="stylesheet" />
{% endblock %}


{% block head %}
<button id="delete-elements">
    <img src="{% static 'mainapp/svg/basket.svg' %}">
</button>
<a href="{{ add_record }}" id="add-b">
    <img src="{% static 'mainapp/svg/add.svg' %}">
</a>
<button id="sorting-b" onclick="show_sort()">
    <img src="{% static 'mainapp/svg/sort.svg' %}">
</button>
<button id="filter-b">
    <img src="{% static 'mainapp/svg/filter.svg' %}">
</button>
{% endblock %}


{% block body %}
    <div id="my-container">
        <div id="work-pane">
            <div class="table-wrap">
                <table class="myTable">
                    <thead>
                        <tr>
                            <th class="delete-col my-button">
                                <div>
                                    <input type="checkbox" class="delete-record form-check-input">
                                </div>
                            </th>
                            {% for d in desc_table %}
                            <th class="resizable">{{ d }}<div class="resizable-handle"></div></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in elem_table %}
                        <tr link="{{ e.link }}">
                            <td class="delete-col my-button">
                                <div>
                                    <input type="checkbox" class="delete-record form-check-input" value="{{ e.id }}">
                                </div>
                            </td>
                            {% for f in e.fields %}
                            <td>{{ f }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div id="filter-pane">
            <form method="post" id="filter-table" name="filters">
                {% csrf_token %}
                {% for f in filters %}
                <div class="filter-group">
                    {% if f.type != 'checkbox' %}
                    <div class="filter-row">
                        {% for name in f.names %}
                        <div class="filter-label">{{ name }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="filter-row">
                        {% for i in f.inputs %}

                            {% if f.type == 'link' %}
                                <button select select-name="{{ f.select }}" multi>
                                    <input type="text" name="{{ i }}">
                                    <p></p>
                                </button>
                            {% endif %}

                            {% if f.type == 'checkbox' %}
                                <label>
                                    <input class="form-check-input" type="checkbox" name="{{ i }}">
                                    <div class="filter-label">{{ f.name }}</div>
                                </label>
                            {% endif %}

                            {% if f.type != 'checkbox' and f.type != 'link' %}
                                <input type="{{ f.type }}" name="{{ i }}">
                            {% endif %}

                        {% endfor %}
                    </div>
                </div>
                {% endfor %}

                <input type="text" style="display:none;" name="parameter_sorting" id="parameter_sorting">

                <div class="filter-group">
                    <div class="filter-row">
                        <button class="my-button" type="submit" id="submit-filter">Применить</button>
                        <button class="my-button" id="drop-filters">Сбросить</button>
                    </div> 
                </div>
            </form>
        </div>
    </div>

    <div id="sorting">
        <div>
            <div class="sort-container">
                <div class="head-sort">
                    <div class="sort-cube">Вкл.</div>
                    <div class="sort-cube">
                        <img src="{% static 'mainapp/svg/2arrow.svg' %}">
                    </div>
                    <div class="group-name">Название поля</div>
                    <div>Приоритет</div>
                </div>
                <div id="groups">

                    {% for s in sorting_table %}
                    <div class="group" name="{{ s.name }}">
                        <input type="checkbox" class="sort-check form-check-input sort-cube">
                        <div class="arrow-check sort-cube">
                            <label>
                                <input type="checkbox" class="sort-dir">
                                <img src="{% static 'mainapp/svg/arrow.svg' %}">
                            </label>
                        </div>
                        <div class="group-name">
                            <p>{{ s.title }}</p>
                        </div>
                        <button class="up sort-cube">
                            <img src="{% static 'mainapp/svg/top-arrow.svg' %}">
                        </button>
                        <button class="down sort-cube">
                            <img src="{% static 'mainapp/svg/bottom-arrow.svg' %}">
                        </button>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <button id="submit-sorting" class="my-button">Применить</button>
        </div>
    </div>

    <div id="modal-delete">
        <div>
            <p>Подтвердите удаление</p>
        </div> 
        <form method="post" name="table_delete">
            {% csrf_token %}
            <p id="delete-message"></p>
            <input type="text" id="delete-list" name="delete-list">
            <div>
                <button class="my-button" type="submit">Да</button>
                <button class="my-button-red" id="cancel-delete">Нет</button>
            </div>
        </form>
    </div>

    <!-- БЛОК ВЫБОРОК -->

    {% for select in list_selects %}
    <div class="table-wrap" select select-name="{{ select.name }}">
        <div class="table-title">
            <h2>{{ select.title }}</h2>
            <input class="select-search">
            <button class="confirm-select">Подтвердить</button>
        </div>
        <table class="myTable">
            <thead>
                <tr>
                    <th class="delete-col my-button">
                        <div>
                            <input type="checkbox" class="multi-select-record form-check-input">
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for r in select.records %}
                <tr record="{{ r.pk }}">
                    <td class="delete-col my-button">
                        <div>
                            <input type="checkbox" class="multi-select-record form-check-input" value="{{ r.pk }}">
                        </div>
                    </td>
                    <td class="select-record">{{ r.text }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}

    <!-- КОНЕЦ БЛОКА ВЫБОРОК -->

{% endblock %}


{% block scripts %}
    <script src="{% static 'mainapp/js/sidebar.js' %}"></script>
    <script src="{% static 'mainapp/js/overlay.js' %}"></script>
    <script src="{% static 'mainapp/js/filter.js' %}"></script>
    <script src="{% static 'mainapp/js/sorting.js' %}"></script>
    <script src="{% static 'mainapp/js/table-resize.js' %}"></script>
    <script src="{% static 'mainapp/js/table-delete-records.js' %}"></script>
    <script src="{% static 'mainapp/js/table-link.js' %}"></script>
    <script src="{% static 'mainapp/js/select.js' %}"></script>
{% endblock %}