<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список отчетов</title>
    <link type="text/css" href="css/default.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link type="text/css" href="css/common.css" rel="stylesheet" />
    <link type="text/css" href="css/my-elements.css" rel="stylesheet" />
    <link type="text/css" href="css/select.css" rel="stylesheet" />
    <link type="text/css" href="css/table.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/view_simple.css">
    <link rel="stylesheet" href="css/reports.css">
    <link rel="shortcut icon" href="favicon.jpg" type="image/x-icon"/>
</head>
<body>
    <div id="header">
        <button id="show-sidebar">
            <img src="svg/menu.svg" alt="">
        </button>
        <div id="header-title">
            <a href="">Ссылка на группу</a>
            <img src="svg/right.svg" alt="">
            <a href="">Ссылка на подгруппу</a>
            <img src="svg/right.svg" alt="">
            <p>Ссылка на запись</p>
        </div>
    </div>

    <div id="body-container">
        <div id="right-block-head">
            Список отчетов
        </div>
        
        <div class="report">
            <form action="" method="post">
                <div class="report-title">Отчет по продажам за период</div>
                <div class="report-body">
                    <div class="r-r">
                        <div class="r-c">
                            <p>Начало периода</p>
                            <input type="date" name="" id="">
                        </div>
                        <div class="r-c">
                            <p>Конец периода</p>
                            <input type="date" name="" id="">
                        </div>
                    </div>
                    <button type="submit" class="report-submit my-button">Сформировать</button>
                </div>
            </form>
        </div>
        <div class="report">
            <form action="" method="post">
                <div class="report-title">Отчет по доступным запасам лекарства</div>
                <div class="report-body">
                    <div class="r-r">
                        <div class="r-c">
                            <p>Препарат</p>
                            <button select select-name="medicine">
                                <input type="number" name="" id="">
                                <p></p>
                            </button>
                        </div>
                    </div>
                    <button type="submit" class="report-submit my-button">Сформировать</button>
                </div>
            </form>
        </div>
        <div class="report">
            <form action="" method="post">
                <div class="report-title">Отчет по списанию просроченных препаратов</div>
                <div class="report-body">
                    <div class="r-r">
                        <div class="r-c">
                            <p>На дату</p>
                            <input type="date" name="" id="">
                        </div>
                    </div>
                    <button type="submit" class="report-submit my-button">Сформировать</button>
                </div>
            </form>
        </div>
        <div class="report">
            <form action="" method="post">
                <div class="report-title">Отчет по доходам и расходам</div>
                <div class="report-body">
                    <div class="r-r">
                        <div class="r-c">
                            <p>Начало периода</p>
                            <input type="date" name="" id="">
                        </div>
                        <div class="r-c">
                            <p>Конец периода</p>
                            <input type="date" name="" id="">
                        </div>
                    </div>
                    <button type="submit" class="report-submit my-button">Сформировать</button>
                </div>
            </form>
        </div>
        <div class="report">
            <form action="" method="post">
                <div class="report-title">Отчет по заказам на препарат</div>
                <div class="report-body">
                    <div class="r-r">
                        <div class="r-c">
                            <p>Начало периода</p>
                            <input type="date" name="" id="">
                        </div>
                        <div class="r-c">
                            <p>Конец периода</p>
                            <input type="date" name="" id="">
                        </div>
                        <div class="r-c">
                            <p>Препарат</p>
                            <button select select-name="medicine">
                                <input type="number" name="" id="">
                                <p></p>
                            </button>
                        </div>
                    </div>
                    <button type="submit" class="report-submit my-button">Сформировать</button>
                </div>
            </form>
        </div>
        <div class="report">
            <form action="" method="post">
                <div class="report-title">Отчет по динамике средней цены на препарат</div>
                <div class="report-body">
                    <div class="r-r">
                        <div class="r-c">
                            <p>Начало периода</p>
                            <input type="date" name="" id="">
                        </div>
                        <div class="r-c">
                            <p>Конец периода</p>
                            <input type="date" name="" id="">
                        </div>
                        <div class="r-c">
                            <p>Препарат</p>
                            <button select select-name="medicine">
                                <input type="number" name="" id="">
                                <p></p>
                            </button>
                        </div>
                    </div>
                    <button type="submit" class="report-submit my-button">Сформировать</button> 
                </div>  
            </form>
        </div>
        <div class="report">
            <form action="" method="post">
                <div class="report-title">Отчет по датам последних поставок</div>
                <div class="report-body">
                    <div class="r-r">
                        <div class="r-c">
                            <p>На дату</p>
                            <input type="date" name="" id="">
                        </div>
                    </div>
                    <button type="submit" class="report-submit my-button">Сформировать</button>
                </div>
            </form>
        </div>

        <!-- ... -->

        
    </div>
    




    <!-- БЛОК ВЫБОРОК -->

    <div class="table-wrap" select select-name="medicine">
        <div class="table-title">
            <h2>Медицина</h2>
            <input class="select-search">
        </div>
        <table class="myTable">
            <tbody>
                
                <tr record="1">
                    <td class="select-record">Строка 1</td>
                </tr>
                <tr record="2">
                    <td class="select-record">Строка 2</td>
                </tr>
                <tr record="3">
                    <td class="select-record">Строка 3</td>
                </tr>
                <tr record="4">
                    <td class="select-record">Строка 4</td>
                </tr>
                <tr record="5">
                    <td class="select-record">Строка 5</td>
                </tr>
                <tr record="6">
                    <td class="select-record">Строка 6</td>
                </tr>
                <tr record="7">
                    <td class="select-record">Строка 7</td>
                </tr>
                <tr record="8">
                    <td class="select-record">Строка 8</td>
                </tr>
                <tr record="9">
                    <td class="select-record">Строка 9</td>
                </tr>
                <tr record="10">
                    <td class="select-record">Строка 10</td>
                </tr>
                  
                <!-- ... -->

            </tbody>
        </table>
    </div>

    <div class="table-wrap" select select-name="doctor">
        <div class="table-title">
            <h2>Доктора</h2>
            <input class="select-search">
        </div>
        <table class="myTable">
            <tbody>
                
                <tr record="1">
                    <td class="select-record">Строка 1</td>
                </tr>
                <tr record="2">
                    <td class="select-record">Строка 2</td>
                </tr>
                <tr record="3">
                    <td class="select-record">Строка 3</td>
                </tr>
                <tr record="4">
                    <td class="select-record">Строка 4</td>
                </tr>
                <tr record="5">
                    <td class="select-record">Строка 5</td>
                </tr>
                <tr record="6">
                    <td class="select-record">Строка 6</td>
                </tr>
                <tr record="7">
                    <td class="select-record">Строка 7</td>
                </tr>
                <tr record="8">
                    <td class="select-record">Строка 8</td>
                </tr>
                <tr record="9">
                    <td class="select-record">Строка 9</td>
                </tr>
                <tr record="10">
                    <td class="select-record">Строка 10</td>
                </tr>
                  
                <!-- ... -->

            </tbody>
        </table>
    </div>


    <!-- КОНЕЦ БЛОКА ВЫБОРОК -->

    <div id="sidebar">
        <div>
            <div class="logo">
                <img src="favicon.jpg" alt="">
                <h1>БУДЬТЕ ЗДОРОВЫ</h1>
            </div>
            <div class="sidebar-account">
                <p><strong>Филиппов И.А.</strong></p>
                <p>Администратор</p>
                <a href="/login">Выйти из системы</a>
            </div>
        </div>

        <ul>
            <li class="active">
                <a href="{% url punkt.url_name %}">Название пункта 1</a>
            </li>   
            <!-- ... -->
        </ul>

        <div class="sidebar-footer">
            <p>Автор проекта</p>
            <p>Учащийся группы ЗЦИС-37</p>
            <p>Филиппов И.А.</p>
        </div>
    </div>

    <div id="page-overlay"></div>

    <div id="servMesBlock"></div>

    <script src="js/sidebar.js"></script>
    <script src="js/overlay.js"></script>
    <script src="js/common.js"></script>
    <script src="js/select.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>