{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
    <link type="text/css" href="{% static 'mainapp/css/select.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/table.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/view_simple.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/view.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/reports.css' %}" rel="stylesheet" />
{% endblock %}



{% block body %}
    <div id="body-container">
        <div id="right-block-head">
            Отчетные формы
        </div>

        {% for r in reports %}
            <div class="report">
                <form action="{% url 'report_print' report=r.report %}" method="post">
                    {% csrf_token %}
                    <div class="report-title">{{ r.title }}</div>
                    <div class="report-body">
                        <div class="r-r">
                            <div class="r-c">
                                <p>Начало периода</p>
                                <input type="date" name="dn">
                            </div>
                            <div class="r-c">
                                <p>Конец периода</p>
                                <input type="date" name="dk">
                            </div>
                            {% for l in r.links %}
                                <div class="r-c">
                                    <p>{{ l.title }}</p>
                                    <button select select-name="{{ l.table }}">
                                        <input type="text" name="{{ l.name }}">
                                        <p></p>
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="report-submit my-button">Сформировать</button>
                    </div>
                </form>
            </div>
        {% endfor %}

    </div>

    <!-- БЛОК ВЫБОРОК -->
    {% for select in list_selects %}
    <div class="table-wrap" select select-name="{{ select.name }}">
        <div class="table-title">
            <h2>{{ select.title }}</h2>
            <input class="select-search">
            <button class="confirm-select">Подтвердить</button>
        </div>
        <table class="myTable">
            <thead>
                <tr>
                    <th class="delete-col my-button">
                        <div>
                            <input type="checkbox" class="multi-select-record form-check-input">
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for r in select.records %}
                <tr record="{{ r.pk }}">
                    <td class="delete-col my-button">
                        <div>
                            <input type="checkbox" class="multi-select-record form-check-input" value="{{ r.pk }}">
                        </div>
                    </td>
                    <td class="select-record">{{ r.text }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
    <!-- КОНЕЦ БЛОКА ВЫБОРОК -->
{% endblock %}


{% block scripts %}
    <script src="{% static 'mainapp/js/sidebar.js' %}"></script>
    <script src="{% static 'mainapp/js/overlay.js' %}"></script>

    <script src="{% static 'mainapp/js/select.js' %}"></script>
{% endblock %}