{% extends 'mainapp/base.html' %}

{% block css %}
    <link type="text/css" href="{% static 'mainapp/css/select.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/table.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/view_simple.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/reports.css' %}" rel="stylesheet" />
{% endblock %}



{% block body %}
    <div id="header">
        <button id="show-sidebar">
            <img src="{% static 'mainapp/svg/menu.svg' %}">
        </button>
        <div id="header-title">
            {% for l in bread_crumbs %}
            <a href="{% url l.link %}">{{ l.title }}</a>
            <img src="{% static 'mainapp/svg/right.svg' %}">
            {% endfor %}
            <p>{{ title_view }}</p>
        </div>
    </div>

    <div id="body-container">
        <div id="right-block-head">
            Список отчетов
        </div>

        {% for r in reports %}
            <div class="report">
                <form action="{% url 'report_print' report_name=r.report_name %}" method="post">
                    {% csrf_token %}
                    <input name="report" type="number" style="display:none" value="{{ r.report }}">
                    <div class="report-title">{{ r.title }}</div>
                    <div class="report-body">
                        <div class="r-r">
                            {% if r.has_on_date_block %}
                                 <div class="r-c">
                                    <p>На дату</p>
                                    <input type="date" name="dat">
                                </div>
                            {% endif %}
                            {% if r.has_period_block %}
                                <div class="r-c">
                                    <p>Начало периода</p>
                                    <input type="date" name="dn">
                                </div>
                                <div class="r-c">
                                    <p>Конец периода</p>
                                    <input type="date" name="dk">
                                </div>
                            {% endif %}
                            {% for l in r.links %}
                                <div class="r-c">
                                    <p>{{ l.title }}</p>
                                    <button select select-name="{{ l.table }}">
                                        <input type="number" name="{{ l.name }}">
                                        <p></p>
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="report-submit my-button">Сформировать</button>
                    </div>
                </form>
            </div>
        {% endfor %}

    </div>

    <!-- БЛОК ВЫБОРОК -->
    {% for select in list_selects %}
    <div class="table-wrap" select select-name="{{ select.name }}">
        <div class="table-title">
            <h2>{{ select.title }}</h2>
            <input class="select-search">
        </div>
        <table class="myTable">
            <tbody>
                {% for r in select.records %}
                <tr record="{{ r.pk }}">
                    <td class="select-record">{{ r.text }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
    <!-- КОНЕЦ БЛОКА ВЫБОРОК -->

    <div id="sidebar">
        <div>
            <div class="logo">
                <img src="{% static 'mainapp/other/favicon.jpg' %}" alt="">
                <h1>БУДЬТЕ ЗДОРОВЫ</h1>
            </div>
            <div class="sidebar-account">
                <p><strong>{{ user_fio }}</strong></p>
                <p>{{ user_job }}</p>
                <a href="{% url 'logout' %}">Выйти из системы</a>
            </div>
        </div>
        <ul>
            {% for punkt in side_menu %}
                {% if punkt.pk == punkt_selected %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                    <a href="{% url punkt.url_name %}">{{punkt.title}}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="sidebar-footer">
            <p>Автор проекта</p>
            <p>Учащийся группы ЗЦИС-37</p>
            <p>Филиппов И.А.</p>
        </div>
    </div>

    <div id="page-overlay"></div>
{% endblock %}



{% block scripts %}
    <script src="{% static 'mainapp/js/sidebar.js' %}"></script>
    <script src="{% static 'mainapp/js/overlay.js' %}"></script>
    <script src="{% static 'mainapp/js/select.js' %}"></script>
{% endblock %}