{% extends 'mainapp/base.html' %}

{% block css %}
    <link type="text/css" href="{% static 'mainapp/css/modal.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/view_simple.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/view.css' %}" rel="stylesheet" />
    {% if task != 'view' %}
        <link type="text/css" href="{% static 'mainapp/css/table.css' %}" rel="stylesheet" />
        <link type="text/css" href="{% static 'mainapp/css/select.css' %}" rel="stylesheet" />
        <link type="text/css" href="{% static 'mainapp/css/edit.css' %}" rel="stylesheet" />
    {% endif %}
{% endblock %}



{% block body %}
    <div id="header">
        <button id="show-sidebar">
            <img src="{% static 'mainapp/svg/menu.svg' %}">
        </button>
        <div id="header-title">
            {% for l in bread_crumbs %}
            <a href="{% url l.link %}">{{ l.title }}</a>
            <img src="{% static 'mainapp/svg/right.svg' %}">
            {% endfor %}
            <p>{{ title_view }}</p>
        </div>
        <div>
            {% if task == 'view' %}
                <button id="delete-record">
                    <img src="{% static 'mainapp/svg/delete.svg' %}">
                </button>
                <a href="{% url edit_link %}" id="edit-record">
                    <img src="{% static 'mainapp/svg/edit.svg' %}">
                </a>
            {% else %}
                <button id="save-record">
                    <img src="{% static 'mainapp/svg/save.svg' %}">
                </button>
            {% endif %}
        </div>
    </div>

    {% if task != 'view' %}<form method="post" enctype="multipart/form-data">{% csrf_token %}{% endif %}
        <div id="body-container">
            <div id="right-block-head">
                {% if task == 'view' %}
                    {{ title_view }}
                {% else %}
                    Редактирование записи
                {% endif %}
            </div>
            {% if task == 'view' %}
                {% for field in content_view %}
                    {% if field.type == 'image' %}
                        <div class="record-image-block">
                            <img src="{{ field.link }}">
                        </div>
                    {% endif %}

                    {% if field.type == 'text' %}
                        <div class="record-text-block">
                            <div class="rtb-title">{{ field.title }}</div>
                            <div class="rtb-body">{{ field.text }}</div>
                        </div>
                    {% endif %}

                    {% if field.type == 'link' %}
                        <div class="record-link-block">
                            <div>{{ field.title }}:</div>
                            <a href="{{ field.link }}">{{ field.text }}</a>
                        </div>
                    {% endif %}

                    {% if field.type == 'file' %}
                        <div class="record-link-block">
                            <div>{{ field.title }}:</div>
                            <a href="{{ field.link }}" download>{{ field.text }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for input in input_fields %}
                    <div class="edit-input-block">
                        <div>{{ input.title }}</div>
                        <div>
                            {% if input.type == 'image' %}
                                <label>
                                    <input image type="file" name="{{ input.name }}">
                                    <img src="{{ input.url }}">
                                </label>
                            {% endif %}

                            {% if input.type == 'string' %}
                                <input type="text" name="{{ input.name }}" value="{{ input.value }}">
                            {% endif %}

                            {% if input.type == 'text' %}
                                <textarea name="{{ input.name }}">
                                    {{ input.value }}
                                </textarea>
                            {% endif %}

                            {% if input.type == 'number' %}
                                <input type="number" name="{{ input.name }}" value="{{ input.value }}">
                            {% endif %}

                            {% if input.type == 'date' %}
                                <input type="date" name="{{ input.name }}" value="{{ input.value }}">
                            {% endif %}

                            {% if input.type == 'file' %}
                                <label>
                                    <p>{{ input.text_value }}</p>
                                    <input type="file" name="{{ input.name }}">
                                </label>
                            {% endif %}

                            {% if input.type == 'link' %}
                                <button select select-name="medicine">
                                    <input type="number" name="{{ input.name }}">
                                    <p>{{ input.text_value }}</p>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <button id="save-record-button" type="submit"></button>
            {% endif %}
        </div>
    {% if task != 'view' %}</form>{% endif %}

    <div id="sidebar">
        <div>
            <div class="logo">
                <img src="{% static 'mainapp/other/favicon.jpg' %}" alt="">
                <h1>БУДЬТЕ ЗДОРОВЫ</h1>
            </div>
            <div class="sidebar-account">
                <p><strong>{{ user_fio }}</strong></p>
                <p>{{ user_job }}</p>
                <a href="{% url 'logout' %}">Выйти из системы</a>
            </div>
        </div>
        <ul>
            {% for punkt in side_menu %}
                {% if punkt.pk == punkt_selected %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                    <a href="{% url punkt.url_name %}">{{punkt.title}}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="sidebar-footer">
            <p>Автор проекта</p>
            <p>Учащийся группы ЗЦИС-37</p>
            <p>Филиппов И.А.</p>
        </div>
    </div>

    {% if task != 'view' %}
        <!-- БЛОК ВЫБОРОК -->
        {% for select in list_selects %}
        <div class="table-wrap" select select-name="{{ select.name }}">
            <div class="table-title">
                <h2>{{ select.title }}</h2>
                <input class="select-search">
            </div>
            <table class="myTable">
                <tbody>
                    {% for r in select.records %}
                    <tr record="{{ r.pk }}">
                        <td class="select-record">{{ r.text }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
        <!-- КОНЕЦ БЛОКА ВЫБОРОК -->
    {% endif %}

    <div id="page-overlay"></div>

    <div id="modal-delete">
        <div>
            <p>Подтвердите удаление</p>
        </div> 
        <form method="post">
            <p id="delete-messedge"></p>
<!--            <input type="number" id="delete-rec" name="delete-rec" value="10">-->
            <div>
                <button class="my-button" type="submit">Да</button>
                <button class="my-button-red" id="cancel-delete">Нет</button>
            </div>
        </form>
    </div>
{% endblock %}



{% block scripts %}
    <script src="{% static 'mainapp/js/sidebar.js' %}"></script>
    <script src="{% static 'mainapp/js/overlay.js' %}"></script>
    {% if task == 'view' %}
        <script src="{% static 'mainapp/js/delete_record.js' %}"></script>
    {% else %}
        <script src="{% static 'mainapp/js/save_record.js' %}"></script>
        <script src="{% static 'mainapp/js/select.js' %}"></script>
    {% endif %}
{% endblock %}