{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
    <link type="text/css" href="{% static 'mainapp/css/modal.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/view_simple.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/view.css' %}" rel="stylesheet" />
    {% if task != 'view' %}
        <link type="text/css" href="{% static 'mainapp/css/table.css' %}" rel="stylesheet" />
        <link type="text/css" href="{% static 'mainapp/css/select.css' %}" rel="stylesheet" />
        <link type="text/css" href="{% static 'mainapp/css/edit.css' %}" rel="stylesheet" />
    {% endif %}
{% endblock %}


{% block head %}
    {% if task == 'view' %}
        {% if delete_rule %}
        <button id="delete-record">
            <img src="{% static 'mainapp/svg/delete.svg' %}">
        </button>
        {% endif %}
        {% if change_rule %}
        <a href="{{ edit_link }}" id="edit-record">
            <img src="{% static 'mainapp/svg/edit.svg' %}">
        </a>
        {% endif %}
    {% else %}
        <button id="save-record">
            <img src="{% static 'mainapp/svg/save.svg' %}">
        </button>
    {% endif %}
{% endblock %}


{% block body %}
    {% if task != 'view' %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
    {% endif %}

            <div id="body-container">
                <div id="right-block-head">
                    {% if task == 'view' %}
                        {{ title_view }}
                    {% else %}
                        Редактирование записи
                    {% endif %}
                </div>
                {% if task == 'view' %}
                    {% for field in content_view %}
                        {% if field.type == 'image' %}
                            <div class="record-image-block">
                                <img src="{{ field.link }}">
                            </div>
                        {% endif %}

                        {% if field.type == 'text' %}
                            <div class="record-text-block">
                                <div class="rtb-title">{{ field.title }}</div>
                                <div class="rtb-body">{{ field.text }}</div>
                            </div>
                        {% endif %}

                        {% if field.type == 'link' %}
                            <div class="record-link-block">
                                <div>{{ field.title }}:</div>
                                <a href="{{ field.link }}">{{ field.text }}</a>
                            </div>
                        {% endif %}

                        {% if field.type == 'file' %}
                            <div class="record-link-block">
                                <div>{{ field.title }}:</div>
                                <a href="{{ field.link }}" download>{{ field.text }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for input in input_fields %}
                        <div class="edit-input-block">
                            <div>{{ input.title }}</div>
                            <div>
                                {% if input.type == 'image' %}
                                    <label>
                                        <input image type="file" name="{{ input.name }}">
                                        <img src="{{ input.url }}">
                                    </label>
                                {% endif %}

                                {% if input.type == 'text' or input.type == 'number' or input.type == 'date' %}
                                    <input type="{{ input.type }}" name="{{ input.name }}" value="{{ input.value }}">
                                    

                                {% endif %}
                                
                                {% if input.type == 'checkbox' %}
                                    <input class="form-check-input" type="{{ input.type }}"  name="{{ input.name }}" value="{{ input.value }}">
                                {% endif %}

                                {% if input.type == 'textarea' %}
                                    <textarea name="{{ input.name }}">
                                        {{ input.value }}
                                    </textarea>
                                {% endif %}

                                {% if input.type == 'file' %}
                                    <label>
                                        <p>{{ input.text_value }}</p>
                                        <input type="file" name="{{ input.name }}">
                                    </label>
                                {% endif %}

                                {% if input.type == 'link' %}
                                    <button select select-name="{{ input.select }}">
                                        <input type="text" name="{{ input.name }}">
                                        <p>{{ input.text_value }}</p>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <button id="save-record-button" type="submit"></button>
                {% endif %}
            </div>

    {% if task != 'view' %}
        </form>

        <!-- БЛОК ВЫБОРОК -->

        {% for select in list_selects %}
        <div class="table-wrap" select select-name="{{ select.name }}">
            <div class="table-title">
                <h2>{{ select.title }}</h2>
                <input class="select-search">
                <button class="confirm-select">Подтвердить</button>
            </div>
            <table class="myTable">
                <thead>
                    <tr>
                        <th class="delete-col my-button">
                            <div>
                                <input type="checkbox" class="multi-select-record form-check-input">
                            </div>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in select.records %}
                    <tr record="{{ r.pk }}">
                        <td class="delete-col my-button">
                            <div>
                                <input type="checkbox" class="multi-select-record form-check-input" value="{{ r.pk }}">
                            </div>
                        </td>
                        <td class="select-record">{{ r.text }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
        <!-- КОНЕЦ БЛОКА ВЫБОРОК -->
    
    {% else %}

        <div id="modal-delete">
            <div>
                <p>Подтвердите удаление</p>
            </div> 
            <form method="post">
                {% csrf_token %}
                <p id="delete-message"></p>
                <div>
                    <button class="my-button" type="submit">Да</button>
                    <button class="my-button-red" id="cancel-delete">Нет</button>
                </div>
            </form>
        </div>
    
    {% endif %}

    
{% endblock %}


{% block scripts %}
    <script src="{% static 'mainapp/js/sidebar.js' %}"></script>
    <script src="{% static 'mainapp/js/overlay.js' %}"></script>
    {% if task == 'view' %}
        <script src="{% static 'mainapp/js/delete_record.js' %}"></script>
    {% else %}
        <script src="{% static 'mainapp/js/save_record.js' %}"></script>
        <script src="{% static 'mainapp/js/select.js' %}"></script>
    {% endif %}
{% endblock %}