{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
    <link type="text/css" href="{% static 'mainapp/css/modal.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/table.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/view_difficult.css' %}"  rel="stylesheet" />
    <link type="text/css" href="{% static 'mainapp/css/view.css' %}"  rel="stylesheet" />
{% endblock %}


{% block head %}
{% if delete_rule %}
<button id="delete-record">
    <img src="{% static 'mainapp/svg/delete.svg' %}">
</button>
{% endif %}
{% if change_rule %}
<a href="{{ edit_link }}" id="edit-record">
    <img src="{% static 'mainapp/svg/edit.svg' %}">
</a>
{% endif %}
{% endblock %}


{% block body %}
    <div id="body-container">
        <div id="right-block">
            <div id="right-block-head">
                {{ title_view }}
            </div>
            {% for field in content_view %}
                {% if field.type == 'image' %}
                <div class="record-image-block">
                    <img src="{{ field.link }}">
                </div>
                {% endif %}

                {% if field.type == 'text' %}
                <div class="record-text-block">
                    <div class="rtb-title">{{ field.title }}</div>
                    <div class="rtb-body">{{ field.text }}</div>
                </div>
                {% endif %}

                {% if field.type == 'link' %}
                <div class="record-link-block">
                    <div>{{ field.title }}:</div>
                    <a href="{{ field.link }}">{{ field.text }}</a>
                </div>
                {% endif %}

                {% if field.type == 'file' %}
                <div class="record-link-block">
                   <div>{{ field.title }}:</div>
                   <a href="{{ field.link }}" download>{{ field.text }}</a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div id="resize-block"></div>
        <div id="left-block">
            {% for table in side_tables %}
            <div class="table-wrap">
                <div class="table-title">{{ table.title }}</div>
                <table class="myTable">
                    <thead>
                        <tr>
                            {% for f in table.head %}
                            <th class="resizable">{{ f }}<div class="resizable-handle"></div></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in table.records %}
                            {% if record.link != '' %}
                            <tr link="{{ record.link }}">
                            {% else %}
                            <tr>
                            {% endif %}
                                {% for f in record.fields %}
                                <td>
                                    {% if f.type == 'text' %}{{ f.text }}{% endif %}
                                    {% if f.type == 'file' %}<a href="{{ f.link }}" download>{{ f.text }}</a>{% endif %}
                                </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="modal-delete">
        <div>
            <p>Подтвердите удаление</p>
        </div> 
        <form method="post">
            {% csrf_token %}
            <p id="delete-message"></p>
            <div>
                <button class="my-button" type="submit">Да</button>
                <button class="my-button-red" id="cancel-delete">Нет</button>
            </div>
        </form>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'mainapp/js/view-resize.js' %}"></script>
    <script src="{% static 'mainapp/js/delete_record.js' %}"></script>
    <script src="{% static 'mainapp/js/sidebar.js' %}"></script>
    <script src="{% static 'mainapp/js/overlay.js' %}"></script>
    <script src="{% static 'mainapp/js/table-resize.js' %}"></script>
    <script src="{% static 'mainapp/js/table-link.js' %}"></script>
{% endblock %}