#save-record-button {
    display: none;
}
#files-side-records {
    display:none;
}
.edit-input-block:not(:last-child) {
    margin-bottom:20px;
}
.edit-input-block {
    background-color: #e2e2e2;
    padding:15px;
}

.edit-input-block div:first-child {
    font-size: 17px;
    margin-bottom:7px;
    font-weight: 500;
}


.edit-input-block input[type=text], .edit-input-block input[type=number], .edit-input-block input[type=date], .edit-input-block textarea, .edit-input-block label p, .edit-input-block button p {
    font-size: 17px !important;
}
.edit-input-block input[type=text], .edit-input-block input[type=number], .edit-input-block input[type=date], .edit-input-block label:not(:has(img)), .edit-input-block button {
    height:45px !important;
}

.edit-input-block label:has(img) {
    height:400px;
    position: relative;
}
.edit-input-block img {
    height:100%;
    width:100%;
    object-fit: contain;
}
.edit-input-block img[src=""] {
    display: none;
}